doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/slate.bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='/') EduGeoCache
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navbar-main.navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/informacije') Informacije o aplikaciji
    .container
      block content
    
     footer
       .row
         .col-xs-12
           small &copy; Dejan Lavbič 2017

  script(src='/javascripts/jquery-3.2.1.min.js')
  script(src='/bootstrap/js/bootstrap.min.js')