extends layout

include _include/skupneHTMLfunkcije.jade

block content
  .row.page-header
    .col-lg-12
      h1= glavaStrani.naslov
  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
          p.rating
            +prikaziOceno(lokacija.ocena)
          p= lokacija.naslov
          .panel.panel-primary
            .panel-heading
              h2.panel-title Delovni čas
            .panel-body
              each termin in lokacija.delovniCas
                p
                  | #{termin.dnevi} : 
                  if termin.zaprto
                    | zaprto
                  else
                    | #{termin.odprtje} - #{termin.zaprtje}
          .panel.panel-primary
            .panel-heading
              h2.panel-title Lastnosti
            .panel-body
              each lastnost in lokacija.lastnosti
                span.label.label-warning
                  span.glyphicon.glyphicon-ok
                  | &nbsp;#{lastnost}
                | &nbsp;
        .col-xs-12.col-sm-6.location-map
          .panel.panel-primary
            .panel-heading
              h2.panel-title Zemljevid lokacije
            .panel-body
              img.img-responsive.img-rounded(src='https://maps.googleapis.com/maps/api/staticmap?center=#{lokacija.koordinate.lat},#{lokacija.koordinate.lng}&zoom=17&size=400x350&sensor=false&markers=#{lokacija.koordinate.lat},#{lokacija.koordinate.lng}&scale=2')
      .row
        .col-xs-12
          .panel.panel-primary.review-panel
            .panel-heading
              a.btn.btn-default.pull-right(href='/lokacija/komentar/nov') Dodaj komentar
              h2.panel-title Komentarji uporabnikov
            .panel-body.komentar-vsebnik
              each komentar in lokacija.komentarji
                .row
                  .komentar
                    .well.well-sm.komentar-glava
                      span.rating
                        +prikaziOceno(komentar.ocena)
                      span.komentarAvtor #{komentar.avtor}
                      small.komentarDatum #{komentar.datum}
                    .col-xs-12
                      p !{(komentar.besediloKomentarja).replace(/\n/g, '<br/>')}
    .col-xs-12.col-md-3
      p.lead #{lokacija.naziv} #{stranskaOrodnaVrstica.kontekst}
      p= stranskaOrodnaVrstica.poziv